/** @format */
* {
  box-sizing: border-box;
}
/* .home-container {
  position: relative;
  height: auto;
  width: 100%;
} */
.home-container {
  position: relative;
  background-image: url("/public/desktop-bg.png") !important;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.home-container-left {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 0;
}
.home-container-right {
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-image-right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-item {
  position: absolute;
  height: 200px;
  width: 200px;
  background-size: cover;
  transition: 1s ease-in-out;
}

.image-item-pic-01 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -200px;
  left: 30px;
}
.image-item-pic-02 {
  position: absolute;
  width: 220px;
  height: 220px;
  top: -100px;
}
.image-item-pic-03 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
}
.image-item-pic-04 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 100px;
}
.section1-content p:nth-child(1) {
  font-size: 55px;
  font-family: "League Gothic", sans-serif;
  margin-bottom: 0;
  opacity: 0;
}
.section1-content p:nth-child(2) {
  font-size: 85px;
  font-family: "League Gothic", sans-serif;
  margin-bottom: 0;
  opacity: 0;
}
@media only screen and (max-width: 1150px) {
  /* .home-container-right {
    right: -20%;
  } */
  /* .main-animation-spline {
    max-height: 400px;
    max-width: 400px;
  } */
  .add-bg-dark {
    background: linear-gradient(
      45deg,
      hsl(222, 11%, 18%) 0%,
      hsl(222, 11%, 18%) 22%,
      rgba(0, 165, 196, 0) 65%,
      rgba(0, 212, 255, 0) 88%
    );
    z-index: 1;
  }
  .add-bg-light {
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.7232142857142857) 28%,
      rgba(0, 165, 196, 0) 74%,
      rgba(0, 212, 255, 0) 100%
    );
    z-index: 1;
  }
  /* .main-animation-spline {
    position: relative;
    max-width: 400px;
    height: 400px;
    height: auto;
    object-fit: cover;
  } */
}
@media only screen and (max-width: 768px) {
  .home-container {
    max-width: 100%;
    width: 100%;
  }
  .section1-content p:nth-child(1) {
    font-size: 25px;
    text-align: center;
  }
  .section1-content p:nth-child(2) {
    font-size: 45px;
    text-align: center;
  }
  .home-container-right {
    display: none;
  }
}
.text-animation {
  animation: fadeInText 0.7s linear forwards;
  transition: ease-in-out;
}
.animation-delay-100 {
  animation-delay: 100ms;
}
@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
