/**
 * SECTION 02 ANIMATION------------------------------------------
 *
 * @format
 */
.animation-polygon {
  position: relative;
  width: 100%;
  height: 92vh;
}

#mySVG {
  position: absolute;
  width: 220px;
  height: 220px;
  margin: auto;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.st0 {
  fill: none;
  stroke-dashoffset: 3px;
  stroke-linecap: round;
  stroke: rgb(0, 221, 255);
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke-dasharray: 20;
}
.text-content {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 15vh;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.top-text {
  width: fit-content;
  block-size: fit-content;
  margin: auto;
  font-family: "League Gothic", sans-serif;
  left: 0;
  right: 0;
}

.bottom-text {
  width: fit-content;
  block-size: fit-content;
  margin: auto;
  font-family: "League Gothic", sans-serif;
  left: 0;
  right: 0;
}
.leftAnimation {
  animation: animate-text-right 1s ease-in forwards;
}
.rightAnimation {
  animation: animate-text-left 1s ease-in forwards;
}
@keyframes animate-text-right {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(50px);
  }
}
@keyframes animate-text-left {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-50px);
  }
}
/* ----------------------------------------------------------------- */
