/** @format */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=League+Gothic&family=Outfit:wght@100;200;300;400;500&display=swap");
.App {
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 100%;
  height: 100vh;
}

.light {
  background-color: #e4e4e4;
  color: #35363c;
}

.dark {
  background-color: #2a2d34;
  color: #dedede;
}

/* body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
} */
